*.rar

*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.axf
*.lnp
*.lst
*.ini
*.MajerleT


.gitignore

00-DOCUMENTATIONSOURCE/
00-DOCUMENTATION/
00-RELEASES/
01-DEV/

.gitattributes
delete_unused_files.bat
00-GUI_LIBRARY/x_application_note.h

*.TMP